modules = ["web", "php-8.2", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["mariadb"]

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "preview"
mode = "sequential"
author = 65562387

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."
